* {
	padding: 0;
	margin: 0;
}

body{
	background: #eee;
	.wrapper {
		.header {
			border-bottom: solid 1px #000;

			ul {
				max-width: 1080px;
		    margin: 0 auto;
		    list-style: none;

		    li {
		    	display: inline-block;
		    	padding: 20px;

		    	a {
		    		text-decoration: none;
		    	}
		    }
			}
		}

		.container {
			max-width: 1080px;
		  margin: 20px auto;
		  padding: 20px;
		  background: #fff;
		}

		.login-mask {
			background: rgba(0, 0, 0, 0.3);

			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			.login-container {
				max-width: 600px;
				margin: 200px auto 0 auto;
				padding: 20px;

				background: #fff;

				h1 {
					text-align: center;
				}
			}
		}
	}
}

